/* font - quicksand */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

/* font - poppins  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

:root {
    --navyBlue: #082032;
    --waterBlue: #003566;
    --offWhite: #F5F3FF;
    --violet: #701a75;
    --turquoise: #67e8f9;
    --gray: #9ca3af;
    --veryLightGray: #cbd5e1;
    --charcoalBlack: #202020;
    --lightBlack: #383838;
    --zinc: #3f3f46; 
}

html{
    background-color: var(--zinc);
}

body{
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    margin: 0px;
    height: 100vh;
}

h1,h3{
    font-family: 'Poppins', sans-serif;
}

.sidebar-and-main-container{
    display: flex;
}

.docs-navbrand-container{
    background-color: var(--offWhite);
    padding: 0.75rem 0.5rem;
    text-align: center;
    /* border-right: 2px solid var(--charcoalBlack); */
}

.navbar-brand{
    font-family: 'Quicksand', sans-serif;
    margin: auto 0.75rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    background-image: linear-gradient(90deg, var(--violet), var(--turquoise));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.sidebar{
    font-family: 'Poppins', sans-serif;
    background-color: var(--waterBlue);
    height: 100vh;
    width: 15rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}


.sidebar ul{
    padding: 0;
    list-style-type: none;
}

.sidebar-item {
    width: 100%;
    padding: 0.75rem 1rem;
    display: inline-block;
    color: var(--gray);
    font-size: 0.9rem;
}

.sidebar-title{
    color: var(--offWhite);
    margin: 0;
    padding: 1rem;
    font-weight: 500;
}
  
.sidebar-item:hover {
    /* background-color: var(--lightBlack); */
    color: var(--offWhite);
}

.main-and-footer-container{
    background-color: var(--offWhite);
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.main-content{
    padding: 4rem;
    font-size: 1.1rem;
}

.component-container{
    border: 0.25px solid var(--gray);
    border-radius: 0.75rem;
    padding: 2.5rem;
}

.footer{
    padding: 1rem 2rem;
    color: beige;
    /* background-color: var(--offWhite); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-about{
    padding: 0rem 2rem;
    max-width: 460px;
    margin: 1rem 2rem;
}

.footer-about .copyright{
    margin-top: 2rem;
    color: var(--gray);
    font-weight: 500;
}

.brand-line{
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--veryLightGray);
}

.footer-about span{
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: 2px;
    background-image: linear-gradient(90deg, var(--violet), var(--turquoise));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

svg{
    color: var(--gray);
    width: 20px;
    height: 20px;
}

.social-icons{
    width: 12rem;
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
}
